<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />

    <application
        android:name="com.silent.Vignasdk.vorbatility.PanichaApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/icon512"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon512"
        android:supportsRtl="true"
        android:theme="@style/Theme.Loanmint"
        android:usesCleartextTraffic="true"
        android:hardwareAccelerated="true"
        android:largeHeap="true"
        tools:targetApi="31">
        <activity
            android:name=".DOBARFIRSTActivity"
            android:exported="false" />
        <activity
            android:name=".BMOBInfo.BMOBInfoActivity"
            android:exported="false" />
        <activity
            android:name=".BMOBInfo.BMOBListActivity"
            android:exported="false" />
        <activity
            android:name=".MatisALLTOOL.MCOBRDLoanCalActivity"
            android:exported="false" />
        <activity
            android:name=".MatisALLTOOL.MCOBFDLoanCALActivity"
            android:exported="false" />
        <activity
            android:name=".MatisALLTOOL.MCOBBusinessLoanActivity"
            android:exported="false" />
        <activity
            android:name=".MatisALLTOOL.MCOBEMICalActivity"
            android:exported="false" />
        <activity
            android:name=".DOBARHHActivity"
            android:exported="false" />
        <activity
            android:name=".DOBARLAUNCHActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MatisALLTOOL.MCOBGSTCalActivity" />
        <activity android:name=".MatisALLTOOL.MCOBROICalActivity" />
        <activity android:name=".MatisALLTOOL.PPFCalculatorActivity" />
        <activity android:name=".SIKKOConvert.COUNSIKKOConVTActivity" />
        <activity android:name=".SIKKOConvert.COUNNationListActivity" />
        <activity android:name="com.financecalculator.emicalcutator.meghachem.dobarman.DobarmanTOOLM" />
        <activity android:name="com.financecalculator.emicalcutator.meghachem.dobarman.DobarmanTOOLN" />
        <activity android:name="com.financecalculator.emicalcutator.meghachem.dobarman.DobarmanTOOLO" />
        <activity android:name="com.financecalculator.emicalcutator.meghachem.dobarman.DobarmanTOOLP" />
        <activity android:name="com.financecalculator.emicalcutator.meghachem.dobarman.DobarmanTOOLQ" />
        <activity android:name="com.financecalculator.emicalcutator.meghachem.dobarman.DobarmanTOOLR" />
        <activity android:name="com.financecalculator.emicalcutator.meghachem.dobarman.DobarmanTOOLS" />
        <activity android:name="com.financecalculator.emicalcutator.meghachem.dobarman.DobarmanTOOLT" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />
    </application>

</manifest>